@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji", "Poppins";

    --color-primary : #FE9A00;
    --color-secondary : #0F172B;
    --color-third : #1D293D;
    --color-neutral-white : #FFFFFF;
    --color-neutral-black : #000000;
    --color-neutral-gray : #A3A3A3;
    --color-accent-mint : #10B981;
    --color-accent-blue: #3B82F6;
    --color-accent-red: #EF4444;
}
